body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: DarkGreen;
}

#hawaii, #thailand, #australia, #alaska, #europe {
  display: none;
}

.container.textWindow{
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: Gold;
  background-clip: content-box, padding-box;
}

img {
  width: 50%;
}

.center {
	text-align: center;
}
.row {
	padding: 3em;
}

img {
	width:100%;
}

.jumbotron {
  text-align: center;
  background-color: DarkOrange;
  color: Azure;
  padding-top: 1em;
  padding-bottom: 2em;
}

.jumbotron h2 {
  color: Gold;
  font-style: italic;
}
